/*Sets specific values so they can be reused easily later*/
:root {
    --first-color: rgb(184, 164, 109);
    --second-color: rgb(255, 255, 255);
    --third-color: rgb(216, 123, 169);
    --fourth-color: rgba(207, 194, 159, 0.493);
}

/*Gives whole document the same background */
html {
    background-color: var(--fourth-color);
}

/*Designs header with color and font and gives space around text*/
header {
    padding: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--first-color);
}

/*Places header correcly and colors to scheme*/
header h1 {
    display: inline-block;
    color: var(--second-color);
}

/*Positions nav bar to the right and spaced correctly*/
header nav {
    padding-top: 15px;
    margin-right: 5%;
    float: right;

}

/*Lines up nav bar rather than vertical list and spaces links*/
header nav ul li {
    display: flex;
    padding-right: 7px;
    justify-content: space-between;
    display: inline-block;

}

/*Gives nav text color and clears link underline*/
header a {
    color: var(--second-color);
    text-decoration: none;
}

/*Formats banner */
.banner-image {
    height: 145px;
    width: 120%;
    background-image: url("Golden_and_rosed_marble_texture.jpg");
    background-size: 100%;
    background-position: center;
    position: relative;
    top: 0;
    left:0;
    padding: 5px;

}

/* Formats profile picture and styles*/
.profile {
    border: 2px solid var(--first-color);
    border-radius: 50%;
    margin: 2%;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 100px;
    height: 100px;
}


.mainformat {
    margin: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--fourth-color) ;
    color: var(--third-color);
   
    
}

h2 {
    color: var(--third-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.boxCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    padding: 50px;
    background-color: var(--fourth-color) ;
    color: var(--third-color);
}


.boxBig {
    display: flex;
    flex-direction: row;
    flex: 0 0 95%;
    margin: 2.5%;
    border: solid 5px var(--third-color);
    background-image: url("588-600x400.jpg");
    background-size: 120%;
    background-position: center;
}

.boxSmall {
    display: flex;
    flex-direction: row;
    flex: 0 0 46%;
    margin: 2%;
    border: solid 5px var(--third-color);
    background-image: url("1006-600x400.jpg");
    background-size: 120%;
    background-position: center;
}

/*Creates and designs label tag on projects*/
.label {
    display: block;
    background-color: var(--third-color);
    margin-left: 0;
    margin-top: 40%;
    margin-bottom: 20%;
    padding: 2%;
    color: var(--second-color);
    text-decoration: none;
}

.boxBig:hover {
    box-shadow: inset 0px 0px 8px var(--heliotrope);
}

.links {
    text-decoration: none;
    color: var(--first-color);
}

footer {
    margin: 5%;
    padding: 5%;
    color: var(--third-color);
    text-align: center;
}

/*Tablets - card changes width */
@media screen and (max-width: 992px) {
    
  }
  
/*Large smartphones - card changes width */
  @media screen and (min-width: 768px) {
    
  }
  
 /*Small smartphones - card changes width*/
  @media screen and (min-width: 576px) {
    
  } 
  